:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
}
.service-section{
    background-color: #f5f5f5;
    padding: 20px 0px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.services-box{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    border: 2px solid var(--green);
    width: 350px;
    height: 350px;
    box-shadow: 3px 3px 1px 1px #16a0845a;
    border-radius: 10px;
}
.services-box i{
    color: var(--green);
    font-size: 50px;
}
.services-box b{
    font-size:25px;
    font-weight: 900;
}
.services-box p{
    font-size: 16px;
    color: #777;
    line-height: 30px;

}
@media screen and (max-width:768px) {
    .services-box{
        padding: 10px;
        gap: 15px;
        width: 300px;
        height: 300px;
    }
    .services-box i{
        font-size: 40px;
    }
    .services-box b{
        font-size:20px;
        font-weight: 900;
    }
    .services-box p{
        font-size: 12px;
    line-height: 25px;

    
    }
}
@media screen and (max-width:500px) {
    .services-box{
        padding: 10px;
        gap: 10px;
        width: 250px;
        height: 250px;
    }
    .services-box i{
        font-size: 40px;
    }
    .services-box b{
        font-size:20px;
        font-weight: 900;
    }
    .services-box p{
        font-size: 12px;
    line-height: 25px;

    
    }
}